{% extends 'base.html.twig' %}

{% block title %}Modifier mon mot de passe{% endblock %}

{% block stylesheets %}
    <style>
        /*.account-section .review-form {*/
        /*    width: 57.2rem;*/
        /*    height: 79.1rem;*/
        /*}*/

        .user-dashboard .nav-content .modal-main .review-form {
            width: 57.2rem;
            height: 79.1rem;
            margin-top: 0;
        }
    </style>
{% endblock %}

{% block body %}

    {{ render(controller(
        'App\\Controller\\HeaderController::indexCartPreview'
    )) }}

    <!---------------user-profile-section---------------->
    <section class="user-profile footer-padding">
        <div class="container">
            <h2>Modifier mon mot de passe</h2>
            <a href="{{ path('app_account') }}" class="view">Retourner à mon compte</a>
            {% if notifications %}
                <div class="alert alert-info">{{ notifications }}</div>
            {% endif %}
            {#            {{ form(form) }} #}

            {{ form_start(form) }}

            <div class="login-section account-section">
                <div class="review-form">
                    <h5 class="comment-title">Créez votre compte</h5>
                    <div class=" account-inner-form">
                        <div class="review-form-name">
                            {{ form_widget(form.email) }}
                        </div>
                    </div>
                    <div class=" account-inner-form">
                        <div class="review-form-name">
                            {{ form_widget(form.firstname) }}
                        </div>
                    </div>
                    <div class=" account-inner-form">
                        <div class="review-form-name">
                            {{ form_widget(form.lastname) }}
                        </div>
                    </div>
                    <div class=" account-inner-form">
                        <div class="review-form-name">
                            {{ form_widget(form.old_password) }}
                        </div>
                    </div>
                    <div class=" account-inner-form">
                        <div class="review-form-name">
                            {{ form_widget(form.new_password) }}
                        </div>
                    </div>

                    <div class="login-btn text-center">
                        {{ form_widget(form.submit, { 'label': 'Mettre à jour' }) }}
                    </div>

                </div>
            </div>

            {{ form_end(form) }}
        </div>
    </section>
    <!--------------- user-profile-section-end --------------->
{% endblock %}
