{% extends 'base.html.twig' %}

{% block title %}Erreur de paiement{% endblock %}

{% block body %}
    {{ render(controller(
        'App\\Controller\\HeaderController::indexCartPreview'
    )) }}
    <p>
    <h2>Erreur de paiement</h2>
    Bonjour {{ order.user.firstname }} {{ order.user.lastname }}, <br><br>
    Il semblerait que votre paiement est échoueé pour votre commande n {{ order.reference }}. <br>
    Une confirmation vient de vous être envoyeée par email à l'adresse {{ order.user.email }}.
{#    <a href="{{ path('order') }}">Réessayer le paiement</a>#}
    </p>


{% endblock %}
