<div class="header-top-section">
    <div class="container">
        <div class="header-top">
            <div class="header-profile">
                <a href="{{ path('app_account') }}"><span>Mon compte</span></a>
                <a href="#"><span>Commande</span></a>
                <a href="#"><span>Support</span></a>
            </div>
            <div class="header-contact d-none d-lg-block">
                <a href="#">
                    <span>Besoin d'aide? appelez-nous:</span>
                    <span class="contact-number">+223 74 74 17 45</span>
                </a>
            </div>
        </div>
    </div>
</div>
<header id="header" class="header sticky-top">
    <div class="header-center-section d-none d-lg-block bg-white">
        <div class="container">
            <div class="header-center">
                <div class="logo">
                    <a href="{{ path('app_home') }}">
                        <img src="{{ asset('assets/images/logos/logo_orig_1.png') }}" width="150px" alt="logo">
                    </a>
                </div>
                <div class="header-cart-items">

                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <div class="header-user">
                               <span>
                        Salut {{ app.user.firstName }} |
                                </span>

                            <a href="{{ path('app_logout') }}">  <span>
                                  Se déconnecter
                                </span></a>

                        </div>
                    {% else %}
                        <div class="header-user">
                            <a href="{{ path('app_login') }}"> <span>
                         Se connecter
                                </span></a>
                            |
                            <a href="{{ path('register_customer') }}">  <span>
                                    S'inscrire
                                </span></a>
                        </div>
                    {% endif %}

                    {#                    <div class="header-cart"> #}
                    {{ component('HeaderCartComponent', {
                        previewCart : previewCart,
                        currentCart : currentCart,
                    }) }}
                    {#                    </div> #}
                    <div class="header-user">
                        <a href="#">
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"
                                         class="fill-current">
                                        <path fill="none" d="M0 0h24v24H0z"></path>
                                        <path
                                            d="M20 22H4v-2a5 5 0 0 1 5-5h6a5 5 0 0 1 5 5v2zm-8-9a6 6 0 1 1 0-12 6 6 0 0 1 0 12z">
                                        </path>
                                    </svg>
                                </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <nav class="mobile-menu d-block d-lg-none">
        <div class="mobile-menu-header d-flex justify-content-between align-items-center">
            <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions"
                    aria-controls="offcanvasWithBothOptions">
                    <span>
                        <svg width="14" height="9" viewBox="0 0 14 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect width="14" height="1" fill="#1D1D1D"/>
                            <rect y="8" width="14" height="1" fill="#1D1D1D"/>
                            <rect y="4" width="10" height="1" fill="#1D1D1D"/>
                        </svg>
                    </span>
            </button>
            <a href="index.html" class="mobile-header-logo">
                <img src="{{ asset('assets/images/logos/logo_orig_1.png') }}" width="100px" alt="logo">
            </a>
            <a href="{{ path('cart') }}" class="header-cart-wb position-relative">
                {# Icône panier minimaliste style WB #}
                <svg width="28" height="28" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M7.5 18C8.32843 18 9 18.6716 9 19.5C9 20.3284 8.32843 21 7.5 21C6.67157 21 6 20.3284 6 19.5C6 18.6716 6.67157 18 7.5 18Z"
                        stroke="#242424" stroke-width="1.5"/>
                    <path
                        d="M16.5 18C17.3284 18 18 18.6716 18 19.5C18 20.3284 17.3284 21 16.5 21C15.6716 21 15 20.3284 15 19.5C15 18.6716 15.6716 18 16.5 18Z"
                        stroke="#242424" stroke-width="1.5"/>
                    <path d="M2 3H4.5L6.5 15H19L21.5 6H7" stroke="#242424" stroke-width="1.5" stroke-linecap="round"
                          stroke-linejoin="round"/>
                </svg>

                {# Le badge WB : Petit, vif et sans bordure épaisse #}
{#                {% if currentCart|length > 0 %}#}
                    <span class="wb-cart-badge">
            {{ currentCart }}
        </span>
{#                {% endif %}#}
            </a>
        </div>

        <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions">

            <div class="offcanvas-body">
                <div class="header-top border-bottom p-3 d-flex justify-content-between align-items-center">
                    <div class="">
                        <h5 class="mb-0 fw-bold" style="color: #082C6A;">Toutes les catégories</h5>
                    </div>
                    {# Bouton de fermeture personnalisé #}
                    <button type="button"
                            class="btn-close-custom"
                            data-bs-dismiss="offcanvas"
                            aria-label="Close">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
                {#                <div class="header-input"> #}
                {#                    <input type="text" placeholder="Search...."> #}
                {#                    <span> #}
                {#                            <svg width="22" height="22" viewBox="0 0 22 22" fill="none" #}
                {#                                 xmlns="http://www.w3.org/2000/svg"> #}
                {#                                <path #}
                {#                                    d="M13.9708 16.4151C12.5227 17.4021 10.9758 17.9723 9.27353 18.0062C5.58462 18.0802 2.75802 16.483 1.05056 13.1945C-1.76315 7.77253 1.33485 1.37571 7.25086 0.167548C12.2281 -0.848249 17.2053 2.87895 17.7198 7.98579C17.9182 9.95558 17.5566 11.7939 16.5852 13.5061C16.4512 13.742 16.483 13.8725 16.6651 14.0553C18.2412 15.6386 19.8112 17.2272 21.3735 18.8244C22.1826 19.6513 22.2058 20.7559 21.456 21.4932C20.7697 22.1678 19.7047 22.1747 18.9764 21.4793C18.3623 20.8917 17.7774 20.2737 17.1796 19.6688C16.118 18.5929 15.0564 17.5153 13.9708 16.4151ZM2.89545 9.0364C2.91692 12.4172 5.59664 15.1164 8.91967 15.1042C12.2384 15.092 14.9138 12.3493 14.8889 8.98505C14.864 5.63213 12.1826 2.92508 8.89047 2.92857C5.58204 2.93118 2.87397 5.68958 2.89545 9.0364Z" #}
                {#                                    fill="black"></path> #}
                {#                            </svg> #}
                {#                        </span> #}
                {#                </div> #}

                <div class="category-mobile-menu">
                    <ul class="list-unstyled">
                        {% for cat in categories %}
                            <li class="border-bottom">
                                {# --- NIVEAU 1 (Principal) --- #}
                                <div class="d-flex align-items-center justify-content-between p-3 bg-white">
                                    <a href="{{ path('app_home', {'slug': cat.name}) }}"
                                       class="d-flex align-items-center text-decoration-none">
                                        {#                                        <img src="{{ asset('images/categories/' ~ cat.illustration) }}" width="35" class="me-3"> #}
                                        <span
                                            class="text-dark fw-bold fs-5">{{ cat.name }}</span> {# fs-5 pour un titre bien visible #}
                                    </a>

                                    {% if cat.categories is not empty %}
                                        <button class="btn border-0 p-3" type="button" data-bs-toggle="collapse"
                                                data-bs-target="#collapse-{{ loop.index }}">
                                            <i class="fas fa-chevron-down text-primary"></i>
                                        </button>
                                    {% endif %}
                                </div>

                                {# --- NIVEAU 2 (Sous-menus) --- #}
                                {% if cat.categories is not empty %}
                                    <div class="collapse bg-light" id="collapse-{{ loop.index }}">
                                        <ul class="list-unstyled ps-0 pb-2">
                                            {% for subCat in cat.categories %}
                                                <li class="py-2 border-bottom border-white">
                                                    <div
                                                        class="d-flex justify-content-between align-items-center px-4 py-2">
                                                        <a href="{{ path('app_home', {'slug': subCat.name}) }}"
                                                           class="text-dark text-decoration-none fw-medium fs-6">
                                                            {{ subCat.name }}
                                                        </a>

                                                        {% if subCat.categories is not empty %}
                                                            <button
                                                                class="btn btn-sm btn-outline-secondary rounded-circle"
                                                                style="width: 10px; height: 10px; padding: 0;"
                                                                data-bs-toggle="collapse"
                                                                data-bs-target="#sub-collapse-{{ loop.parent.loop.index }}-{{ loop.index }}">
                                                                <i class="fas fa-plus" style="font-size: 0.7rem;"></i>
                                                            </button>
                                                        {% endif %}
                                                    </div>

                                                    {# --- NIVEAU 3 (Petits-enfants) --- #}
                                                    {% if subCat.categories is not empty %}
                                                        <div class="collapse bg-white-50"
                                                             id="sub-collapse-{{ loop.parent.loop.index }}-{{ loop.index }}">
                                                            <ul class="list-unstyled ps-5 mt-1">
                                                                {% for subCat2 in subCat.categories %}
                                                                    <li class="py-2">
                                                                        <a href="{{ path('app_home', {'slug': subCat2.name}) }}"
                                                                           class="text-secondary text-decoration-none fs-6 d-block">
                                                                            <i class="fas fa-angle-right me-2 text-muted"></i>{{ subCat2.name }}
                                                                        </a>
                                                                    </li>
                                                                {% endfor %}
                                                            </ul>
                                                        </div>
                                                    {% endif %}
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <div class="header-bottom d-lg-block d-none">
        <div class="container">
            <div class="header-nav">
                <nav class="navbar-expand-md">
                    <div class="container">
                        <div class="collapse navbar-collapse order-3" id="navbarCollapse">
                            <!-- Left navbar links -->
                            <ul class="navbar-nav">
                                <li class="nav-item dropdown dropdown-hover">
                                    <a id="dropdownSubMenu1" href="#" data-bs-toggle="dropdown" aria-haspopup="true"
                                       aria-expanded="false" class="nav-link dropdown-toggle">
                                        <span class="dropdown-btn">
                                            <span class="dropdown-icon">
                                                <svg width="14" height="9" viewBox="0 0 14 9" fill="none"
                                                     xmlns="http://www.w3.org/2000/svg">
                                                    <rect width="14" height="1"/>
                                                    <rect y="8" width="14" height="1"/>
                                                    <rect y="4" width="10" height="1"/>
                                                </svg>
                                            </span>
                                            <span class="list-text">Catégories</span>
                                        </span>
                                    </a>
                                    <ul aria-labelledby="dropdownSubMenu1" class="dropdown-menu border-0 shadow">
                                        <!-- Level two dropdown-->
                                        {% for cat in categories %}
                                            {% if(cat.categories is not empty) %}
                                                <li class="dropdown-submenu dropdown-hover">
                                                    <a id="dropdownSubMenu2"
                                                       href="{{ path('app_home',{slug:cat.name}) }}" role="button"
                                                       aria-haspopup="true" aria-expanded="false"
                                                       class="dropdown-item dropdown-toggle">{{ cat.name }}</a>
                                                    {% if cat.categories|length > 0 %}
                                                        <ul aria-labelledby="dropdownSubMenu2"
                                                            class="dropdown-menu border-0 shadow">
                                                            {% for subCat in cat.categories %}
                                                                <!-- Level three dropdown-->
                                                                {% if(subCat.categories is not empty) %}
                                                                    <li class="dropdown-submenu">
                                                                        <a id="dropdownSubMenu3"
                                                                           href="{{ path('app_home',{'slug':subCat.name}) }}"
                                                                           role="button"
                                                                           aria-haspopup="true" aria-expanded="false"
                                                                           class="dropdown-item dropdown-toggle">{{ subCat.name }}</a>
                                                                        {% if subCat.categories|length > 0 %}
                                                                            <ul aria-labelledby="dropdownSubMenu3"
                                                                                class="dropdown-menu border-0 shadow">
                                                                                {% for subCat2 in subCat.categories %}
                                                                                    <li>
                                                                                        <a href="{{ path('app_home',{'slug':subCat2.name}) }}"
                                                                                           class="dropdown-item">{{ subCat2.name }}</a>
                                                                                    </li>
                                                                                {% endfor %}
                                                                            </ul>
                                                                        {% endif %}
                                                                    </li>
                                                                {% else %}
                                                                    <li>
                                                                        <a href="{{ path('app_home',{'slug':subCat.name}) }}"
                                                                           class="dropdown-item">{{ subCat.name }}</a>
                                                                    </li>
                                                                {% endif %}
                                                            {% endfor %}

                                                        </ul>
                                                    {% endif %}
                                                </li>
                                            {% else %}
                                                <li><a href="#"
                                                       class="dropdown-item">{{ cat.name }}</a>
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                        <!-- End Level two -->
                                    </ul>
                                </li>
                            </ul>

                        </div>
                    </div>
                </nav>
                {#                <div class="header-nav-menu"> #}
                {#                    <div class="search-content"> #}
                {#                        <div class="search-section"> #}
                {#                            <input type="text" placeholder="Rechercher les produits........."> #}
                {#                            <div class="divider"></div> #}
                {#                            <button type="button">All Categories</button> #}
                {#                            <a href="#" class="shop-btn">Search</a> #}
                {#                        </div> #}
                {#                    </div> #}

                {#                </div> #}
                <div class="header-nav-menu py-3">
                    <div class="container">
                        <div class="search-content">
                            {{ form_start(form) }}
                            <div class="search-section-wb">
                                <div class="input-group search-wrapper">

                                    <input type="text"
                                           name="{{ field_name(form.name) }}"
                                           id="{{ field_id(form.name) }}"
                                           class="form-control search-input ps-4"
                                           style="font-size: 1.8em;"
                                           placeholder="Rechercher un produit ou une marque..."
                                           aria-label="Search">

                                    <button type="submit" class="btn btn-search-wb" type="button">
                                        Rechercher
                                    </button>

                                    {#                                    {{ form_widget(form.saved, {'label':'Enregistrer'}) }} #}
                                </div>
                            </div>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
                <div class="header-vendor-btn">

                    {#                    <a href="become-vendor.html" class="shop-btn"> #}
                    {#                        <span class="list-text shop-text">Became Vendor</span> #}
                    {#                        <span class="icon"> #}
                    {#                                <svg width="24" height="16" viewBox="0 0 24 16" fill="none" #}
                    {#                                     xmlns="http://www.w3.org/2000/svg"> #}
                    {#                                    <path #}
                    {#                                        d="M20.257 7.07205C20.038 7.07205 19.8474 7.07205 19.6563 7.07205C17.4825 7.07205 15.3086 7.07205 13.1352 7.07205C10.1545 7.07205 7.17336 7.0725 4.19265 7.0725C3.30392 7.0725 2.41519 7.07024 1.52646 7.07295C1.12124 7.07431 0.809811 7.25265 0.625785 7.62651C0.43866 8.00623 0.488204 8.37556 0.737704 8.70426C0.932347 8.96027 1.20529 9.08173 1.52867 9.08037C2.20948 9.07766 2.8903 9.07902 3.57111 9.07902C5.95285 9.07902 8.33415 9.07902 10.7159 9.07902C13.782 9.07902 16.8485 9.07902 19.9146 9.07902C20.0274 9.07902 20.1398 9.07902 20.2822 9.07902C20.1871 9.18332 20.1141 9.26865 20.0358 9.34857C19.5656 9.82672 19.0922 10.3022 18.6229 10.7812C18.1363 11.2779 17.6541 11.7791 17.1675 12.2757C16.4942 12.9634 15.8116 13.6415 15.1476 14.3391C14.9096 14.5893 14.8455 14.9157 14.9406 15.2575C15.156 16.0305 16.0567 16.2499 16.6119 15.6769C17.4342 14.8286 18.2655 13.9892 19.0927 13.1458C19.6948 12.5317 20.2968 11.9172 20.8985 11.3023C21.5952 10.5902 22.2911 9.87729 22.9878 9.1648C23.1059 9.04425 23.2249 8.9246 23.3435 8.8045C23.6903 8.45367 23.7239 7.84278 23.3943 7.4766C22.998 7.03683 22.5852 6.61241 22.1756 6.18573C21.7965 5.79066 21.4134 5.39965 21.0303 5.00909C20.6733 4.64473 20.3132 4.28306 19.9553 3.91915C19.6147 3.57284 19.2754 3.22563 18.9356 2.87887C18.5154 2.44948 18.0951 2.01964 17.6744 1.5907C17.2511 1.15861 16.8198 0.734188 16.4057 0.29261C16.0363 -0.101559 15.3697 -0.0816927 15.0344 0.257392C14.6238 0.672782 14.5999 1.26381 14.995 1.68552C15.3378 2.0517 15.6957 2.40342 16.0465 2.76192C16.929 3.66449 17.8111 4.56797 18.6937 5.47054C19.1829 5.97081 19.6735 6.47018 20.1632 6.97046C20.1885 6.99574 20.2123 7.02329 20.257 7.07205Z"/> #}
                    {#                                </svg> #}
                    {#                            </span> #}
                    {#                    </a> #}
                </div>
            </div>
        </div>
    </div>
</header>
