<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="keywords"
          content="ShopUS, bootstrap-5, bootstrap, sass, css, HTML Template, HTML,html, bootstrap template, free template, figma, web design, web development,front end, bootstrap datepicker, bootstrap timepicker, javascript, ecommerce template">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Welcome!{% endblock %}</title>

    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
    <!--------------- swiper-css ---------------->
    {#        <link rel="stylesheet" href="{{ asset('css/swiper10-bundle.min.css') }}"> #}

    <!--------------- bootstrap-css ---------------->
    <link rel="stylesheet" href="{{ asset('css/bootstrap-5.3.2.min.css') }}">

    <!---------------------- Range Slider ------------------->
    <link rel="stylesheet" href="{{ asset('css/nouislider.min.css') }}">

    <!---------------------- Scroll ------------------->
    <link rel="stylesheet" href="{{ asset('css/aos-3.0.0.css') }}">

    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>

    <!--------------- additional-css ---------------->
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('dist/css/adminlte.min.css') }}">
    <link rel="stylesheet" href="{{ asset('plugins/fontawesome-free/css/all.min.css') }}">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}

    <style>

        .search-section .shop-btn {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            padding: 2rem 3rem;
        }

        .shop-btn {
            /*padding: 1.2rem 3.4rem;*/
            margin: 4rem 0;
            text-align: center;
            border-radius: 3rem;
            display: inline-block;
            background: #d0cb69;
            font-size: 1.4rem;
            font-weight: 500;
            position: relative;
            color: #FFFFFF;
            font-family: "Inter", sans-serif;
            transition: all 0.3s;
            overflow: hidden;
            z-index: 1;
        }

        .search-section button {
            border: none;
            outline: none;
            background: transparent;
            height: 100%;
            padding: 0 2rem;
            font-size: 1.5rem;
            font-weight: 500;
            color: #ffffff;
            flex: 1 1 0%;
        }


        .search-section input {
            border: none;
            outline: none;
            /*background: transparent;*/
            height: 100%;
            padding: 0 2rem;
            font-size: 1.5rem;
            font-weight: 500;
            color: #ae1c9a;
            flex: 1 1 0%;
        }

        .search-section {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            gap: 0px;
            width: 100%;
            height: 100%;
        }

        .search-content {
            width: 62rem;
            height: 6rem;
            border-radius: 3rem;
            border: 1px solid #ffffff;
            overflow: hidden;
        }

        .search-content .divider {
            height: 3rem;
            width: 1px;
            background: #e8e8e8;
        }


    </style>
    <style>

        a{
            font-size: 1.5rem;
        }

        .swiper {
            width: 100%;
            height: 100%;
        }

        .swiper-slide {
            height: 30.5rem;
            text-align: center;
            font-size: 18px;
            background: #444;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 12px;
        }

        .swiper-slide img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .swiper-slide {
            width: 60%;
        }

        .swiper-slide:nth-child(2n) {
            width: 40%;
        }

        .swiper-slide:nth-child(3n) {
            width: 20%;
        }

        /*!* Niveau 1 *!*/
        /*.dropdown:hover > .dropdown-menu {*/
        /*    display: block;*/
        /*    margin-top: .125em;*/
        /*}*/

        /*!* Niveaux suivants (dropend) *!*/
        /*.dropend {*/
        /*    position: relative;*/
        /*}*/

        /*.dropend:hover > .dropdown-menu {*/
        /*    display: block;*/
        /*    position: absolute;*/
        /*    top: 0;*/
        /*    left: 100%;*/
        /*    margin-left: .125em;*/
        /*}*/



        /*.dropdown:active > .dropdown-menu, .dropend:active > .dropdown-menu {*/
        /*    display: block;*/
        /*    margin-top: .125em;*/
        /*}*/

        /*.dropend:active > .dropdown-menu {*/
        /*    position: absolute;*/
        /*    top: 0;*/
        /*    left: 100%;*/
        /*    margin-left: .125em;*/
        /*}*/

        /*.dropdown > .dropdown-menu {*/
        /*    display: none;*/
        /*}*/
    </style>

</head>
<body>

{% block header %}{% endblock %}
{{ render(controller(
    'App\\Controller\\HeaderController::indexCartPreview'
)) }}
{% block body %}
{% endblock %}
{% include 'menus/footer.html.twig' %}
{# <button id="myBtn">Open Modal</button> #}


<!--------------- jQuery ---------------->
<script src="{{ asset('assets/js/jquery_3.7.1.min.js') }}"></script>

<!--------------- bootstrap-js ---------------->
<script src="{{ asset('assets/js/bootstrap_5.3.2.bundle.min.js') }}"></script>

<!--------------- Range-Slider-js ---------------->
<script src="{{ asset('assets/js/nouislider.min.js') }}"></script>

<!--------------- scroll-Animation-js ---------------->
<script src="{{ asset('assets/js/aos-3.0.0.js') }}"></script>

<!--------------- swiper-js ---------------->
<script src="{{ asset('assets/js/swiper10-bundle.min.js') }}"></script>

<!--------------- additional-js ---------------->
<script src="{{ asset('assets/js/shopus.js') }}"></script>

<script src="{{ 'dist/js/adminlte.min.js' }}"></script>

<script src="{{ 'plugins/bootstrap/js/bootstrap.bundle.min.js' }}"></script>

<!-- Swiper JS -->
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>


<!-- Initialize Swiper -->
<script>
    var swiper = new Swiper(".mySwiper", {
        slidesPerView: 2,
        spaceBetween: 30,
        loop: true,
        pagination: {
            el: ".swiper-pagination",
            clickable: true,
        }, navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
    });
</script>
<script>
    document
        .querySelectorAll('.add_item_link')
        .forEach(btn => {
            btn.addEventListener("click", addFormToCollection)
        });

    function addFormToCollection(e) {
        const collectionHolder = document.querySelector('.' + e.currentTarget.dataset.collectionHolderClass);

        const item = document.createElement('li');

        item.innerHTML = collectionHolder
            .dataset
            .prototype
            .replace(
                /__name__/g,
                collectionHolder.dataset.index
            );

        collectionHolder.appendChild(item);

        collectionHolder.dataset.index++;
    };
</script>

{% block script %}
{% endblock %}
</body>
</html>
